:root{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

#canvas{
    display: grid;
    grid-template-columns: 1fr .9fr;

    margin-bottom: 100px;
    padding-top: 30px;
}

#input{
    display: grid;
    height: fit-content;
    width: 100%;
    max-width: 500px;
    justify-self: right;
    margin-right: 50px;
}

#output{
    margin-right: 100px;
}

.resume-container{
    aspect-ratio: 1 / 1.4;
    box-shadow: 0 0 5px black;
    padding: 30px;
    font-size: .8vw;
    word-wrap: break-word;
    position: sticky;
}

textarea{
    width: 420px;
    max-width: 420px;
    min-width: 200px;
    min-height: 100px;
}

.input-group{
    display: grid;
    width: 100%;

    margin-bottom: 20px;
}